.game-container {
  display: flex;
  justify-content: center;
  height: 45vh;
  margin-top: 5rem;

  @media (min-width: 500px) {
    margin: 5rem auto 0;
    width: 400px;
  }

  @media (min-width: 1000px) {
    height: 50vh;
    width: 650px;
  }
}

.choice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  width: 100vw;

  svg {
    color: #1c3352;
    height: 45px;
    width: 45px;
  }

  @media (min-width: 1000px) {
    gap: 4rem;

    svg {
      height: 70px;
      width: 70px;
    }
  }
}

.rock-paper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.choice {
  cursor: pointer;

  svg {
    background-color: #fff;
    border-radius: 50%;
    padding: 2rem;
  }
}

.choice-rock {
  svg {
    border: 12px solid #5168f2;
  }
}

.choice-paper {
  svg {
    border: 12px solid #efa214;
  }
}

.choice-scissors {
  svg {
    border: 12px solid #d73753;
  }
}
