.game-container {
  display: flex;
  justify-content: center;
  height: 45vh;
  margin-top: 6rem;
}

.choice-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
  width: 100vw;

  svg {
    color: #1c3352;
    height: 45px;
    width: 45px;
  }
}

.rock-paper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.choice {
  cursor: pointer;

  svg {
    background-color: #fff;
    border-radius: 50%;
    padding: 2rem;
  }
}

.choice-rock {
  svg {
    border: 12px solid #5168f2;
  }
}

.choice-paper {
  svg {
    border: 12px solid #efa214;
  }
}

.choice-scissors {
  svg {
    border: 12px solid #d73753;
  }
}
