.result-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  gap: 1rem;
}

.result-choices {
  display: flex;
  gap: 2.9rem;

  svg {
    color: #1c3352;
    height: 45px;
    width: 45px;
  }
}

.choice-player {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
  }
}

.choice-computer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
  }
}

.result-info {
  margin-top: 4rem;

  p {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
  }
}

.result-play {
  button {
    border: none;
    border-radius: 8px;
    color: #1c3352;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1rem;
    width: 220px;
  }
}
