.score-container {
  align-items: center;
  border: 3px solid #5f708c;
  border-radius: 8px;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  margin: 30px 5%;
  padding: 0.6rem 1rem;

  p {
    color: #fff;
  }
}

.score-title {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3rem;
    margin: 0;
  }
}

.score-points {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;

  p {
    color: #3f4454;
    font-weight: 600;
    margin: 0;
  }
}

.points-title {
  font-size: 0.8rem;
}

.points {
  font-size: 2.2rem;
}
